<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	
	<input class="form-control form-control-dark w-100 busca" type="text" placeholder="Pesquise Aqui" aria-label="Pesquise Aqui">

	<div class="header-top">
		<img class="mb-4" src="../assets/logo.jpg" alt="SRM" width="150">
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column">
					<li class="nav-item arrow-nav">
						<a class="nav-link active" href="#">
							<span data-feather="home"></span>
							Painel de Gestão <span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<span data-feather="file"></span>
							Conta Digital
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<span data-feather="shopping-cart"></span>
							Ant. de Recebíveis
						</a>
					</li>          
				</ul>


			</div>
		</nav>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<div class="breadcrumbs">
					<a href="">Página Inicial > </a>
					<a href="">Painel de Gestão</a>
				</div>

				<div class="conteudo">
					<div class="title-content">
						<h1>Painel de Gestão</h1>
					</div>
					<div class="atalhos">
						<h1>Atalhos</h1>
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2">
								<h2>Operacional</h2>
								<button type="button" class="btn btn-sm btn-outline-secondary">Envio</button>
								<button type="button" class="btn btn-sm btn-outline-secondary">Envio de Diplicatas</button>
								<button type="button" class="btn btn-sm btn-outline-secondary">Nova Operação</button>
								<button type="button" class="btn btn-sm btn-outline-secondary">Assinatura</button>
								<button type="button" class="btn btn-sm btn-outline-secondary">Assinatura Digital</button>
							</div>

						</div>
					</div>
					<div class="alertas">
						<h1>Alertas</h1>
					</div>
				</div>
			</div>

